.fullcal_menu_list {
    margin: 1rem 0;
    padding: 0;
    list-style: none;
}

.fullcal_menu_entry {
    margin: 1rem 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.fullcal_menu_dot {
    display: block;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 .5rem .1rem 0;
    cursor: pointer;
}

.fullcal_menu_entry.deactivated .fullcal_menu_dot {
    background-color: #ddd !important;
}
